plot/
log.txt
__pycache__/
*.pyc
utility_features.py
venv/
.venv/
env/

online2/tests/Nshift_speed/output**
online2/notebooks/html
online2/AGENT_CONTEXT.md
online2/notebooks/2028
online2/notebooks/20*
online2/DEVELOPMENT.md

online2/tests/Nshift_speed/test_cbint.py
online2/tests/Nshift_speed/*.png

**/placeholder

**/scenario_seed_*.json

rust/target/
tests/battery/results
tests/battery/output
tests/battery/scenarios/json
tests/battery/EvaluationTest.md
tests/battery/battery_config_*.json
tests/battery/TEST_structure*.md

rust/src/bin/nshift.rs
rust/src/bin/run_nshift_speed.rs
**.bkup
**.pdf
**.mmd

rolling_window_dp.py

**.bk

TODO.md